#main {
  -ms-touch-action: none;
}

#logo {
  width: auto;
}

.leftbar {
  float: left;
  width: 178px;
  padding: 20px 25px 15px 15px;
}

a.buttonImg {
  border-bottom: 0px;
}

.button {
  background-color: #8F8F8F; /* fallback */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BFBFBF),
    to(#8F8F8F) );
  background: -webkit-linear-gradient(top, #BFBFBF, #8F8F8F);
  background: -moz-linear-gradient(top, #BFBFBF, #8F8F8F);
  background: -ms-linear-gradient(top, #BFBFBF, #8F8F8F);
  background: -o-linear-gradient(top, #BFBFBF, #8F8F8F);
  color: #000000;
  font-size: 21px;
  padding: 5px;
  margin: 5px;
  border: solid 1px #000000;
  text-align: center;
  cursor: pointer;
}

.button[disabled] {
  color: #808080;
}

.dw-persp {
  z-index: 3000;
}

.comboIcon {
  margin-left: -26px;
  vertical-align: middle;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.tabmenu {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3000;
}

.tabmenu_img {
  cursor: pointer;
  margin-top: 2px;
}

.tabmenu_menu {
  font-size: 21px;
  color: #ffffff;
  margin: 0px;
  margin-top: 4px;
  display: none;
}

.tabmenu_entry {
  padding: 5px;
  pointer-events: auto;
  color: #4C4C4C;
  background-color: #A4AA04;
  border-top: 1px solid #626603;
}

.tabmenu_entry:first-child {
  padding: 5px;
  pointer-events: auto;
  cursor: pointer;
  border-top: none;
}

.tabmenu_enabled {
  color: #FFFFFF;
  cursor: pointer;
}

.dialog_title {
  padding: 5px;
  background-color: #A4AA04;
  color: #FFFFFF;
  font-size: 24px;
}

.dialog_data {
  background-color: #4C4C4C;
  color: #A4AA04;
  font-size: 18px;
  padding: 20px;
}

.tabdetails {
  position: absolute;
  top: 6px;
  left: 50px;
  z-index: 3000;
  color: #ffffff;
  font-size: 24px;
}

